div.card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

img {
  max-width: 350px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin: auto;
  display: block;
}
