html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 15px;
  letter-spacing: 0.25px;
  color: #3b3b3b;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

h2 {
  height: 60px;
}

p {
  line-height: 1.5em;
}
